//----------------------------------------------------------------------------------------------------------------Colors
$white: #ffffff;
$black: #070707;
$grey: #828282;
$lightgrey:#F6F6F6;
//------------------------------------------------------------------------------------------------------------------Zero
*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{text-decoration: none; color: inherit;}
ul,ol,li{list-style: none;}
img{vertical-align: top; width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;   
    background-color: $white;
    color: $black;     
}
//------------------------------------------------------------------------------------------------------------------wrapper
.wrapper{
    max-width: 970px;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
}
.lock{
    overflow: hidden;
}
.title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}
//------------------------------------------------------------------------------------------------------------------header
.header{
    position: fixed;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
}
.navigation{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & li{
        font-family: 'Gilroy-Bold';
        color: $grey;
        &:hover{
            color: $black;
        }
    }
}
.name{
    display: none;
}
.border{
    width: 100%;
    border-top: 1px solid $grey;
    
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: $black;
    opacity: .5; 
    display: none;
}
.activate{
    display: block;
}  
//------------------------------------------------------------------------------------------------------------------burger
.menu_icon{
    display: none;
    width: 30px;
    height: 18px;
    z-index: 5;
    position: relative;
    cursor: pointer;
    &:hover{
        &.menu_icon span, &.menu_icon::after, &.menu_icon::before{
        background-color: $black;
        }
    }
}
.menu_icon-sidebar{
    width: 40px;
    height: 40px;
}
.menu_icon span, .menu_icon::after, .menu_icon::before{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $grey;    
}
.menu_icon::after, .menu_icon::before{
    content: "";
}
.menu_icon::after{
    top: 0;
}
.menu_icon::before{
    bottom: 0;
}
.menu_icon span{
    top: 50%;
    transform: scale(1) translate(0, -50%);
}
//------------------------------------------------------------------------------------------------------------------Sidebar
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    transform: translateX(100%);
    padding: 20px;
    transition: all 0.3s ease 0s;
    z-index: 10;
    background-color: $white;
}
._active{
    transform: translateX(0);
    
}

.nav_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90%;
    & li, .menu_wrapper {
        height: 20%;
        width: 100%;
        font-family: 'Gilroy-Bold';
        color: $grey;
        font-size: 34px;
        line-height: 42px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        &:hover{
            color: $black;           
        }
    } 
    .menu_wrapper{
        justify-content: center;
    }       
}
//------------------------------------------------------------------------------------------------------------------Home
#home{    
    padding-top: 90px;
}
.home{
    display: flex;
    flex-direction: column;
    padding: 40px 0 100px;
    height: 100%;
}

.home_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
    height: 100%;
}
.home_content-p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 50px;
}
.home_content-name{
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    
}
.home_content-text{
    order: 1;
    justify-self: center;
    
}
.home_img{
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
}

//------------------------------------------------------------------------------------------------------------------About Me
#about{
    background-color: $lightgrey;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    gap: 20px;
    
}
.about_title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}
.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;

}
//------------------------------------------------------------------------------------------------------------------Skills

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0 110px;
    gap: 70px;
}
.skills_title{
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
}
.skills_link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:90px;
    padding-top: 20px;
}
.skills_link li{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.link_foto{
    width: 64px;
    height: 64px;
}
.link_foto:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.simple_rating{        
    padding: 20px 0;
    position: relative;
    font-size: 40px;
    display: inline-block;
}
.simple_rating::before{
    content: "★★★★★";
    display: block;
}
.simple_rating-items{
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.simple_rating-item{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    visibility: hidden;

}
.simple_rating-label{
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: $lightgrey;
}
.simple_rating-label::before{
    content: "★";
    display: block;
    transition: color 0.3s easy 0s;
}
.simple_rating-label:hover, .simple_rating-label:hover ~ .simple_rating-label, .simple_rating-label:checked ~ .simple_rating-label:hover{
    color: $grey;    
}
.simple_rating-item:checked, .simple_rating-item:checked ~ .simple_rating-label{
    color: $black;
}

//------------------------------------------------------------------------------------------------------------------Contacts
#contacts{
    background-color: $lightgrey;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    text-align: center;
    padding: 100px 0;
}
.soc{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}


